$about-page-header-height: 80px;
$about-page-footer-height: 90px;

page-about {
  ion-header {
    height: $about-page-header-height;//default 56px
    ion-navbar {
      min-height: $about-page-header-height !important;//default 56px
    }
  }
  ion-footer {
    height: $about-page-footer-height;//default 56px
    ion-toolbar {
      min-height: $about-page-footer-height !important;//default 56px
    }
  }

  //標題置中用
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
  }
}
